<div class="logo">
    <img src="/frontend/negocio/assets/images/logo-blanco .png" alt="Logo-Shift">
</div>

<nav class="menu">
    <a class="menu-item active">
        <i class="fa-solid fa-house"></i> Inicio
    </a>
    <a class="menu-item">
        <i class="fa-regular fa-calendar-days"></i> Agenda
    </a>
    <a class="menu-item"> <i class="fa-regular fa-clock"></i> Turnos
    </a>
    <a class="menu-item"> <i class="fa-solid fa-scissors"></i> Servicios
    </a>
    <a class="menu-item"> <i class="fa-regular fa-user"></i> Profesionales
    </a>
    <a class="menu-item"> <i class="fa-solid fa-gear"></i> Configuracion
    </a>
</nav>

<div class="sidebar-footer">
    <div class="business-card"></div>
    <button class="logout-btn"></button>
</div>